@tailwind base;
@tailwind components;
@tailwind utilities;
/* Override Swiper pagination bullet color */
.swiper-pagination-bullet {
  background-color: gray-200 !important; /* Tailwind's gray-900 */
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #111827 !important;
}
